:root{
    --blue-color: #1998ff;
    --white-color: #ffffff;
    --black-color: #313337;
    /*Tipografía*/
    --normal:12px;
    
    /* Espaciado*/
    --space:10px;
}
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
.servicios:hover {
	transform: translate(-10px , -10px);
	box-shadow: 0 12px 16px rgba(0, 0 ,0 ,0.5);
	transition: all 0.5s;
	border-radius: 10px;
}
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html{
	box-sizing: border-box;
}
*,*::before,*::after{
	box-sizing: inherit;
}
/** Globales **/
.contenedor {
	width: 98%;
	margin: 0 auto;
}

@media only screen and (min-width:480px) {
	.contenedor {
	width: 95%;
}
}
@media only screen and (min-width:768px) {
	.contenedor {
	width: 90%;
	}
	h1.nombre__sitio{
		font-size: 10vw;
		margin: 0;
	}
	div.informacion__sitio {
		width: 70%;
		margin:0 auto;
		margin-top: 50px;
	}
	div.contenido__header{
		padding-top: 10px;
	}
}
@media only screen and (min-width:992px) {
	.contenedor {
	width: 90%;
	max-width: 1100px;
}
}
h2{
	font-family: 'Oswald', sans-serif;
	font-size: 2.4em;
	text-transform: uppercase;
	text-align: center;
}
h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.8em;
	margin: 0;
	text-align: center;
}
.button {
	background-color: #1998ff;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	font-size: 1em;
	margin-top: 20px;
	display: inline-block;
	transition: all .3s ease;
	border: 2px solid #1998ff;
}
.button.hollow,
.button.hollow:hover{
	background-color: white;
	color: #1998ff;
}
.button.transparente {
	background-color: transparent;
	border: 2px solid #ffffff;
}
.button.transparente:hover {
	border: 2px solid #1998ff;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.button:hover{
	background-color: #1998ff;			
}

body{
	background-color: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

/* ==========================================================================
							      INICIO-HEROE
   ========================================================================== */
div.hero {
	background-image: url(../image/encabezado.jpg) ;
	height: 100vh;
	background-position: center;
	background-size: cover;
}
div.contenido__header{
	padding-top: 60px;
}	
nav.redes__sociales{
	text-align: center;
}
nav.redes__sociales a{
	color: #ffffff;
	font-size: 2em;
	margin-right: 20px;
}
nav.redes__sociales a:last-child{
	margin-right: 0;
}
div.informacion__sitio{
	text-align: center;
	color: #ffffff;
}
div.informacion__sitio p{
	margin: 0;
	display: inline;
	font-size: 20px;
	text-transform: uppercase;
}
div.informacion__sitio p i{
	color: #1998ff;
	font-size: 2rem;
}
p.fecha{
	float: left;
}
p.ciudad{
	float: right;
	text-align: right;
}
p.slogan {
	text-transform: none!important;
}
p.slogan span {
	font-weight: bold;
}
h1.nombre__sitio{
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 5.9vw;	
}
/* ==========================================================================
							        FIN-HEROE
   ========================================================================== */
 
@media only screen and (min-width:768px){
	div.menu__movil{
		display: none;
	}
}


/* ==========================================================================
							  INICIO-BARRA DE NAVEGACIÓN
   ========================================================================== */

div.barra {
	background-color: #ccc;
	padding: 10px 0;
}

@media only screen and (min-width:768px) {
	div.logo {
		width: 33%;
	}
}
/** Navegacion principal**/
nav.navegador {
    display: grid;
    grid-template-columns: 4fr  1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
nav.navegador a{
    font-family: 'Oswald', sans-serif;
	color: #ffffff;
	font-size: 1.3em;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .6s ease;
	width: 100%;
	text-align: center;
	
}
div.logo {
	align-self: flex-start;
	justify-self: stretch;
}
div.logo img{
	width: 300px;
}
/* ==========================================================================
							  FIN-BARRA DE NAVEGACIÓN
   ========================================================================== */



/* ==========================================================================
					INICIO-SECTION DE PROYECTOS/TRABAJOS
   ========================================================================== */
section.seccion__texto p {
	padding-bottom: 25px;
}
section.proyecto{
	position: relative;
}
div.contenedor__video{
	max-width: 100%;
	overflow-x: hidden;
}
div.contenido__proyecto{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
div.proyecto__trabajos{
	background-color: rgba(255, 255, 255, .8);
	padding: 15px;
	margin-top: 50px;
}
@media only screen and (max-width:768px) {
	div.proyecto__trabajos {
		width: 70%;
	}
}
@media only screen and (min-width:768px) {
	div.proyecto__trabajos{
		width: 50%;
	}
}
nav.menu__trabajos {
	width: 100%;
	border-bottom: 1px solid #1998ff;
	padding-bottom: 10px;
}
@media only screen and (min-width:768px){
	nav.menu__trabajos {
		display: table;
	}
}
nav.menu__trabajos a{
	display: block;
	text-align: center;
	color: #000000;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 10px;
	font-size: 1.2em;
}
@media only screen and (min-width:768px){
	nav.menu__trabajos a {
		display: table-cell;
	}
}
nav.menu__trabajos a i,
div.detalle__trabajos p i {
	color: #1998ff;
	font-size: 1.6em;
	margin-right: 10px;
}
div.detalle__trabajos {
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding: 0 20px;
}
div.detalle__trabajos:nth-child(2){
	border: none;
}
div.detalle__trabajos p {
	margin-bottom: 	20px;
	font-size: 20px;
}

/* ==========================================================================
					   FIN-SECTION DE PROYECTOS/TRABAJOS
   ========================================================================== */


   /* ==========================================================================
							  INICIO-SERVICIOS
   ========================================================================== */
.servicio__contenido{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 25px;
	padding: 30px 30px;
	text-align: center;
}
.servicios img{
    height: 250px;
}

/* ==========================================================================
							     FIN-SERVICIOS
   ========================================================================== */


 /* ==========================================================================
							     INICIO-DESARROLLO
   ========================================================================== */
section.desarrollo{
	display: grid;
	grid-template: 0.5fr 2.5fr/ 0.9fr 1.5fr;
	grid-template-areas: ". texto__desarrollo"
						 "img__desarrollo slider__desarrollo";
	margin: 30px 0px 50px 20px;
}

div.texto__desarrollo {
	grid-area: texto__desarrollo;
	justify-self: center;
	text-align: end;
}
div.img__desarrollo {
	grid-area: img__desarrollo;
}
div.img__desarrollo img {
	width: 100%;
}
div.slider__desarrollo{
	grid-area: slider__desarrollo;
	justify-items: center;
	place-self: center;
}
/*----------Fin_Desarrollo-----------*/

 /* ==========================================================================
							     INICIO-CONTADOR
   ========================================================================== */
div.parallax::before{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	-webkit-filter: brightnees(.8);
	filter: brightness(.8);
}
div.contador {
	position: relative;
	height: auto;
}
div.contador::before {
	background-image: url(../image/01.jpg);
	content: '';
}
ul.resumen__trabajos{
	position: relative;
	padding: 120px 0;
}
ul.resumen__trabajos li {
	width: 50%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', san-serif;
	color: #ffffff;
	font-size: 24px;
}
@media only screen and (min-width:768px){
	ul.resumen__trabajos li {
		width: 25%;
	}
}
p.numero {
	color: #1998ff;
	font-size: 4em;
	display: block;
	margin: 0 0 10px 0;
	font-family: 'Oswald',sans-serif;
}
 /* ==========================================================================
							     FIN-CONTADOR
   ========================================================================== */


 /* ==========================================================================
							     INICIO-TABLA DE PRECIOS
   ========================================================================== */
ul.lista__precios > li {
	padding: 10px;
}
@media only screen and (min-width:768px) {
	ul.lista__precios > li {
		float: left;
		width: 33.3%;
	}
}
div.tabla__precio {
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	padding: 40px 0;
	text-align: center;
	transition: all .5s ease;
}
div.tabla__precio:hover {
	transform: scale(1.1);
	border: 1px solid #1998ff;
	box-shadow: 0px 0px 50px #666;
}

div.tabla__precio ul li {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #868686;
	line-height: 26px;
}
div.tabla__precio ul li::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	font-size: 20px;
	color: green;
	-webkit-font-smoothing: antialiased;
	content: '\f00c';
}
div.tabla__precio h3 {
	font-family: 'Oswald',sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
div.tabla__precio p.numero {
	color: #000000;
	margin-top: 20px 0;
}
/* ==========================================================================
							     FIN-TABLA DE PRECIOS
   ========================================================================== */


/* ==========================================================================
							     INICIO-TESTIMONIOS
   ========================================================================== */

div.testimoniales {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
	margin-bottom: 70px;
}

div.testimonial {
	display: grid;
	grid-template: 20px auto auto/15% 10% auto;
    grid-template-areas: "logo__testimonial testimonio testimonio"
                         ". testimonio testimonio"
						 "img__testimonio img__testimonio autor"; 
	background-color: white;
	border: 1px solid #e1e1e1;
	padding: 10px;
}
div.logo__testimonial{
	grid-area: logo__testimonial;
    font-size: 2.5rem;
    color: #1998ff;
}
div.testimonio{
	grid-area: testimonio;
}
div.testimonio p {
	margin-top: 0px;
	margin-left: 10px;
	text-align: justify;
}
div.img__testimonio{
	grid-area: img__testimonio;
}
div.img__testimonio img {
	width: 100%;
	border-radius: 50%;
}
div.autor{
	grid-area: autor;
	align-self: center;
	padding-left: 15px;
	color: #1998ff;
}
div.autor span{
	color: black;
	text-transform: uppercase;	
	font-family: 'Lucida Sans';
}

/* ==========================================================================
							     FIN-TESTIMONIAL
   ========================================================================== */



/* ==========================================================================
							     INICIO-NEWSLETTER
   ========================================================================== */

div.newsletter {
	position: relative;
	height: auto;
}
div.newsletter::before {
	background-image: url(../image/bg-newsletter.jpg);
	content: '';
}
div.newsletter .contenido {
	padding: 100px 0;
	color: #ffffff;
	text-align: center;
	position: relative;
}
div.newsletter .contenido p {
	font-size: 1.2em;
	text-transform: lowercase;
}
div.newsletter .contenido h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 7vw;
	font-family: 'PT Sans', sans-serif;
}
/* ==========================================================================
							     FIN-NEWSLETTER
   ========================================================================== */



/* ==========================================================================
							     INICIO-FOOTER
   ========================================================================== */
footer.site__footer {
	background-color: #353535;
	padding-top: 40px;
}
footer .contenedor > div {
	color: #ffffff;
	padding: 0px 20px;
	font-size: 12px;
}
@media only screen and (min-width:768px) {
	footer .contenedor > div {
		width: 33.3%;
		float: left;
	}
}

footer h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 20px;
}
footer h3 span {
	color: #1998ff;
}
footer.ultimos__tweets li {
	margin-bottom: 10px;
}
nav.redes__sociales {
	text-align: center;
}

p.copyright {
	background-color: #2e2e2e;
	color: #ffffff;
	padding: 10px 0;
	text-align: center;
	margin: 20px 0 0 0;
}

/* ==========================================================================
							     FIN-FOOTER
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
	   content: " "; /* 1 */
	   display: table; /* 2 */
   }

.clearfix:after {
    clear: both;
}

/*-----------------------*/

.contenedor__slider{
    width: 100%;
	overflow: hidden;
	align-self: center;
}
.contenido__slider{
	width: 90%;
    height: 350px;
	display: flex;
	justify-items: center;
	align-items: center;
	padding: 25px;
	background: #00BFB7;
	justify-content: space-around;
	color: white;
	border-radius: 18px 18px 18px 18px;
	flex-shrink: 0;
	margin: 0px 30px;
}


.contenido__slider:nth-child(2){
	background: #332863;
	color: #fff;
	display: none;
}
.contenido__slider:nth-child(3){
	background: #00BFB7;
	color: white;
	display: none;
}

.slider__desarrollo{
	display: flex;
	width: 100%;
}


.contenido__slider> img {
	width: 50%;

}
.contenido__slider > div {
	width: 80%;
}

.contenido__slider > h4 {
	font-size: 1.2em!important;
	text-align: justify;
	line-height: 30px;
}


/*----------------------------------------------------*/


@media screen and (max-width:900px){
    .contenido__slider > img{
        width: 250px;
    }

    .contenido__slider > div{
        width: 40%;
    }
}


@media screen and (max-width:600px){
    .contenido__slider{
       flex-direction: column-reverse;
    }

    .contenido__slider > div{
        width: 80%;
    }

}
/*-----------------------key*/

@keyframes mover{
	100%{
		transform: translate(0%);
	}
}
